# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/
.npm

# Build
dist/
dist-ssr/
*.local

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Cache
.cache/
.eslintcache
.stylelintcache

# Coverage
coverage/
